@()

@main("Prismic.io homework API") {
<p>
  <pre>
Prismic.io homework API :
GET        /api/search/:searchTerm              : Search for a GitHub repository which contains the term :searchTerm
GET        /api/:owner/:repo/contributors       : Get contributors of the GitHub repository :owner/:repo
GET        /api/:owner/:repo/commits            : Get commits of the GitHub repository :owner/:repo
GET        /api/:owner/:repo/usersimpact        : Get the impact of the contributors of the GitHub repository :owner/:repo
  </pre>
</p>
}
